body {
	font-family: 'Mulish';
	color: #000;
	overflow-x: hidden;
	background-color: #FFFDF5;
}

header {
	padding: 14px 0;
	margin-bottom: 147px;
}

img {
	max-width: 100%;
	height: auto;
}

ol,
ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
p,
figure {
	margin: 0;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
}

button {
	border: none;
	background: transparent;
	padding: 0;
	box-shadow: none;
	cursor: pointer;
}

/* Header                           */

.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 171px;
}

.nav {
	display: inline-flex;
}

.main-menu li:not(:last-child) {
	margin: 0 50px 0 0;
}

.nav a {
	font-family: 'Mulish';
	font-weight: 700;
	font-size: 15px;
	line-height: 19px;
	color: #000;
	transition: opacity 0.3s ease;
}

.nav a:hover {
	opacity: 60%;
	text-decoration: none;
}

.nav-phone svg {
	width: 15px;
	height: 20px;
	margin: 0px 19px 0px 0px;
	vertical-align: middle;
}

.nav-phone {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #000;
	transition: opacity 0.3s ease;
	vertical-align: middle;
}

.nav-phone:hover {
	color: #000;
	opacity: 60%;
	text-decoration: none;
}

/* Main section                     */

.main-section {
	margin: 0 0 161px 0;
}

.main-section-content {
	text-align: center;
	max-width: 840px;
	margin: 0 auto;
}

.main-section-title {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 66px;
	line-height: 120%;
	margin: 0 0 40px 0;
}

.main-section-subtitle {
	font-family: 'Mulish';
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
	margin: 0 0 50px 0;
	padding: 0 40px;
}

.btn {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 15px;
	line-height: 19px;
	display: inline-flex;
	color: #000;
	background-color: #FBCA27;
	padding: 14px 27px;
	border-radius: 26px;
	transition: background-color 0.4s, color 0.4s ease;
}

.btn:hover {
	color: #FBCA27;
	background-color: #000;
}

/* Section locate                  */

.section-locate {
	margin-bottom: 280px;
}

.section-locate-content {
	padding: 0 30px 0 0;
}

.section-locate-title {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 60px;
	line-height: 110%;
	margin-bottom: 40px;
}

.section-locate-subtitle {
	font-size: 20px;
	line-height: 140%;
	margin-bottom: 40px;
}

.section-locate-list {
	font-size: 20px;
	line-height: 140%;
	columns: 2;
	max-width: 420px;
}

.section-locate-list li {
	list-style-image: url('../img/done-icon.svg');
	list-style-position: inside;
	margin-bottom: 14px;
}

.section-locate-list a {
	color: #000;
}

.our-address {
	display: flex;
	flex-direction: column;
	filter: drop-shadow(0px 6px 18px rgba(126, 95, 37, 0.1));
	border-radius: 10px;
	background-color: #fff;
	padding: 40px 40px;
}

.our-address::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fbca27;
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 6px 6px 0 0;
}

.our-address-title {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 28px;
	line-height: 130%;
	margin-bottom: 42px;
}

.our-address-card-item {
	display: flex;
	margin-bottom: 42px;
}

.our-address-card-item svg {
	width: 22px;
	height: 22px;
	flex: 0 0 22px;
	margin: 0 23px 0 0;
}

.our-address-subtitle {
	font-size: 20px;
	line-height: 25px;
}

.our-address-text-intro svg {
	width: 22px;
	height: 22px;
	margin: 0 24px 0 0;

}

.btn-google {
	font-family: 'Mulish';
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	align-items: center;
	padding: 20px 20px;
	border: 2px solid #EDEDED;
	border-radius: 10px;
	background-color: #fff;
}

.btn-google svg {
	width: 30px;
	height: 43px;
	margin: 0 10px 0 0;
}

.btn-google:hover {
	background-color: #F5F5F5;
	color: #000;
}

/* Section about                   */

.section-about {
	margin-bottom: 161px;
}

.section-about-ellipse-img {
	position: absolute;
	top: 130px;
	left: 30px;
}

.section-about-img {
	border-radius: 0px 500px 500px 0px;
}

.section-about-content {
	margin: 0;
}

/* Why us section                  */

.why-us-section {
	margin-bottom: 91px;
}

.why-us-section-title {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 60px;
	line-height: 110%;
	margin-bottom: 80px;
}

.col-mod {
	padding-left: 35px;
	padding-right: 35px;
}

.why-us-section-card {
	width: 100%;
	margin-bottom: 70px;
}

.why-us-section-logo {
	width: 82px;
	height: 82px;
	border: 1px solid #FBCA27;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 20px;
}

.why-us-section-logo svg {
	width: 30px;
	height: 30px;
	margin-top: 25px;
}

.card-logo {
	margin-top: 25px;
}

.why-us-section-title-card {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	margin-bottom: 20px;
}

.why-us-section-subtitle {
	font-size: 18px;
	line-height: 140%;
}

/* Section pricing                 */

.section-pricing {
	margin-bottom: 161px;
}

.section-pricing-element {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: space-between;
	background-color: #FBCA27;
	border: 1px solid #000000;
	border-radius: 10px;
	padding: 50px 80px;
}

.section-about-ellipse-left-img {
	position: absolute;
	width: 6%;
	right: 886px;
	top: 110px;
}

.section-about-ellipse-right-img {
	position: absolute;
	width: 22%;
	top: 20px;
	left: 734px;
}

.section-pricing-title {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 60px;
	line-height: 110%;
	margin-bottom: 29px;
}

.section-pricing-subtitle {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	margin-bottom: 55px;

}

.div {
	justify-content: space-between;
}

.btn-pricing {
	border: 1px solid #000000;
	border-radius: 26px;
	margin-right: 20px;
	padding: 14px 22px;
}

/* Section how it work             */

.section-how-it-work {
	margin-bottom: 211px;
}

.section-how-it-work-content {
	text-align: center;
	margin-bottom: 80px;
}

.section-how-it-work-title {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 60px;
	line-height: 110%;
	padding: 0 0 25px 0;
}

.section-how-it-work-subtitle {
	font-size: 20px;
	line-height: 140%;
}

.section-how-it-work-card {
	display: flex;
	padding: 60px 0;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.section-how-it-work-card:last-child {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);

}

.number-of-chapter {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 16px;
	line-height: 110%;
	padding: 0 0 20px 34px;
}

.text-of-the-chapter-title {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	padding: 0 20px 0 34px;
}

.text-of-the-chapter-subtitle {
	font-size: 18px;
	line-height: 140%;
	padding: 38px 0 0 0;
}

/* Section services                */

.section-services {
	margin-bottom: 99px;
}

.row-mod {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.section-services-ellipse-img {
	position: absolute;
	left: 830px;
    bottom: 1400px;
}

.section-services-title {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 60px;
	line-height: 110%;
	margin-bottom: 60px;
}

.section-services-subtitle {
	font-size: 17px;
	line-height: 140%;
}

.section-services-img {
	margin-bottom: 115px;
}

.section-services-title-content {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	margin-bottom: 25px;
}

.section-services-subtitle-content {
	font-size: 17px;
	line-height: 140%;
	padding-bottom: 60px;
}

/* Section review text               */

.section-review-text {
	margin-bottom: 161px;
}

.section-review-content {
	max-width: 76%;
}

.section-review-title {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
}

/* Section review                    */

.section-review {
	margin-bottom: 161px;
}

.section-reviews-title {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 60px;
	line-height: 110%;
	margin-bottom: 37px;
	padding-top: 70px;
}

.quotes svg {
	width: 32px;
	height: 32px;
	margin-bottom: 40px;
}

.section-review-slider-text {
	font-size: 24px;
	line-height: 140%;
	margin-bottom: 30px;
}

.review-name {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 22px;
	line-height: 110%;
	margin-bottom: 20px;
}

.section-review-img {
	margin-bottom: 6px;
}

.review-rate-text {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 17px;
	line-height: 140%;
	margin-bottom: 50px;
}

.control button {
	position: absolute;
	top: 40%;
	transition: all 0.1s ease;
}

.control button:hover {
	opacity: 60%;
}

.control button.prev {
	left: -30px;
}

.control button.next {
	right: -30px;
}

.prev svg {
	width: 20px;
	height: 20px;
}

.next svg {
	width: 20px;
	height: 20px;
}

.slider-dots button {
	width: 12px;
	height: 12px;
	border: 2px solid #000000;
	border-radius: 50%;
	margin-right: 20px;
}

.slider-dots .tns-nav-active {
	width: 12px;
	height: 12px;
	background: #FBCA27;
	border: none;
}

/* Section bottom                    */

.section-bottom {
	margin-bottom: 159px;
}

.container-mod-bottom {
	position: relative;
}

.section-bottom-ellipses-left {
	position: absolute;
	right: 990px;
	top: 290px;
}

.section-bottom-ellipses-right {
	position: absolute;
	left: 840px;
	bottom: 314px;
}

.section-bottom-content {
	background: #FBCA27;
	border-radius: 10px;
	padding: 110px 390px 110px 100px;
}

.section-bottom-title {
	font-family: 'Cooper';
	font-weight: 700;
	font-size: 60px;
	line-height: 110%;
	margin-bottom: 55px;
}

.section-bottom-img {
	position: absolute;
	top: 180px;
	left: 444px;
}

/* Section footer                    */

.footer {
	background: #FBCA27;
	width: 100%;
}

.footer-row {
	padding: 87px 0 80px 0;
}

.footer-menu li:not(:last-child) {
	margin: 0 40px 0 0;
}

.footer-bottom {
	padding-bottom: 37px;
	display: flex;
	justify-content: space-between;
}

.text-made-by {
	font-family: 'Mulish-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	color: #000;
}

.text-made-by:hover {
	color: #000;
}

.logo-footer-img {
	padding-bottom: 18px;
}

.copyright {
	font-family: 'Mulish-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
}

.icon-footer svg {
	width: 35px;
	height: 35px;
	padding-bottom: 18px;
}

.footer-img {
	background-image: url(../img/image-footer.jpg);
	height: 56px;
	background-repeat: repeat-x;
}