@media all and (max-width: 1199px) {

	.header {
		padding-top: 25px;
	}

	.menu-open .header {
		position: fixed;
	}

	/* Menu navigation style	 */
	.main-menu-wrap {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 10;
	}

	.main-menu {
		background: #FBCA27;
		height: 100%;
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		width: 100%;
		transition: transform .4s ease;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.menu-open .main-menu::before {
		background-image: url(../img/image-footer.jpg);
		content: ' ';
		position: absolute;
		height: 56px;
		width: 100%;
		top: 115vh;
	}

	.menu-open .main-menu {
		transform: translate(-100%, 0);
	}

	.main-menu ul {
		display: flex;
		flex-direction: column;
		padding: 142px 15px;
		max-width: 960px;
		margin: 0 auto;
	}

	.main-menu li:not(:last-child) {
		margin: 0 50px 70px 0;
	}

	.nav a {
		font-family: 'Cooper';
		font-weight: 700;
		font-size: 50px;
		line-height: 120%;
		color: #000;
		transition: opacity 0.3s ease;
	}

	/* Phone style */

	.nav-phone {
		padding-right: 51px;
	}

	/* BTN style */

	.btn-menu {
		display: block;

	}

	.menu-open .btn-menu span:nth-child(1) {
		transform: rotate(45deg) translate(6px, 5px);
	}

	.menu-open .btn-menu span:nth-child(2) {
		transform: scale(0);
	}

	.menu-open .btn-menu span:nth-child(3) {
		transform: rotate(-45deg) translate(5px, -5px);
	}

	/* Section about */

	.section-about-img {
		width: 80%;
	}

	.wrapper::after {
		right: 423px;
	}

	/* Section pricing */

	.section-pricing-element {
		padding: 60px 40px;
		overflow: hidden;
	}

	.section-pricing-content::after {
		right: 290px;
		top: -30px;
	}

	.section-pricing-content-img::after {
		left: 600px;
	}

	.section-pricing-content-img::before {
		left: 707px;
	}

	.section-pricing-img {
		width: 225px;
	}

	/* Section services */

	.section-services-img-content::before {
		bottom: 1683px;
	}

	/* Section bottom */ 

	.container-mod-bottom::after {
		right: 60px;
	}

	.section-bottom-content::after {
		top: 250px;
		right: 780px;
	}

	.section-bottom-content::before {
		top: 380px;
		right: 850px;
	}
	
	.section-bottom-element {
		padding: 60px 40px;
	}

	.section-bottom-content-img::before {
		left: 798px;
	}

	.section-bottom-content-img::after {
		left: 760px;
	}

	.section-bottom-img {
		z-index: 20;
		width: 619px;
		top: 200px;
		left: 390px;
	}

	/* Section bottom */ 

	.footer-row {
		flex-direction: column;
		padding: 57px 0 63px 0;
	}

	.logo-footer-container {
		margin-bottom: 52px;
	}

	.footer-menu-wrap {
		margin-bottom: 49px;
	}

	.footer-phone {
		margin-bottom: 41px;
	}

	.nav-phone {
		padding-right: 30px;
	}

	.footer-bottom {
		flex-direction: column;
	}

	.text-made-by {
		margin-right: 15px;
	} 

	.logo-bottom {
		display: inline-flex;
		margin-bottom: 16px;
	}

	.text-bottom {
		margin-bottom: 30px;
	}
}

@media all and (max-width: 991px) {

	/* Header */ 

	.main-menu ul {
		max-width: 705px;
	}

	/* Section locate */

	.section-locate-content {
		padding: 0;
		margin-bottom: 60px;
	}

	.our-address {
		padding: 50px 50px;
	}

	.our-address-title {
		margin: 0 auto;
		margin-bottom: 42px;
	}

	.our-address-card {
		columns: 2;
		margin-bottom: 42px;
	}

	.btn-google {
		padding: 20px 172px;
	}

	/* Section about */

	.wrapper {
		width: 688px;
		margin-bottom: 91px;
	} 

	.wrapper::after {
		display: none;
	}

	.section-about-img {
		width: 100%;
	}

	.section-about-content {
		margin-left: 0;
	}

	.section-about-list {
		max-width: 688px;
	}

	/* Section pricing */

	.section-pricing-element::after {
		left: 500px;
	}

	.section-pricing-element::before {
		left: 607px;
	}

	.section-pricing-content::after {
		width: 85px;
		height: 85px;
	}
	
	.section-pricing-img {
		position: absolute;
		width: 175px;
		top: 20px;
		left: 470px;
	}

	/* Section pricing */ 

	.section-how-it-work-subtitle {
		display: none;
	}

	/* Section how it work */

	.section-how-it-work-card-item {
		flex-direction: column;
		max-width: 576px;
	}

	.section-how-it-work-element-left {
		margin-right: 0;
		max-width: 100%;
	}

	.section-how-it-work-element-right {
		max-width: 100%;
	}

	/* Section services */ 

	.section-services-subtitle {
		font-size: 17px;
		line-height: 140%;
		margin-bottom: 75px;
	}

	.section-services-img-content {
		width: 100%;
		margin-bottom: 64px;
	}

	.section-services-img-content::after {
		bottom: 980px;
		left: 550px;
	}

	/* Section review text*/

	.section-review-content {
		max-width: 675px;

	}

	.btn-review {
		display: none;
	}

	/* Section review */

	.section-reviews-content {
		text-align: center;
		margin-bottom: 60px;
	}
	
	.section-reviews-title {
		font-size: 50px;
	}

	.quotes {
		display: none;
	}

	.section-review-slider-text {
		max-width: 560px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 60px;

	}

	.review-name {
		text-align: center;
	}

	.review-rate {
		text-align: center;
	}

	.slider-dots {
		text-align: center;
	}

	.control button.prev {
		top: 80px;
	}

	.control button.next {
		top: 80px;
	}

	/* Section bottom */

	.section-bottom {
		margin-bottom: 170px;
	}

	.section-bottom-element {
		padding: 137px 125px 350px 125px;
	}

	.section-bottom-content {
		width: 440px;
		text-align: center;
	}

	.section-bottom-title {
		font-size: 50px;
		margin-bottom: 35px;
	}

	.section-bottom-content-img {
		width: 100%;
	}

	.section-bottom-img {
		width: 819px;
		top: 450px;
		left: 134px;
	}

	.container-mod-bottom::after {
		display: none;
	}

	.section-bottom-element::after {
		left: 600px;
	}

	.section-bottom-element::before  {
		left: 638px;
	}

	@media all and (max-width: 768px) {
		.main-menu ul {
			max-width: 525px;
		}

		.nav-phone {
			display: none;
		}
	}
}